footer.footer
    .wrapper
        .container__block
            .container__content
                .container__content--logo
                    img(src="images/logo_footer.svg", alt="")
                .container__content--text
                    h3 We Embody Your Ideas Into 
                    h3 Web Mobile Application.
                .container__content--copyright
                    span © Copyright 2019, Gamega.org. All Rights Reserved.
            .container__navigation
                nav.navigation__nav
                    h5.navigation__nav--title Menu
                    ul.navigation__nav--menu
                        li.navigation__nav--item 
                            a(href="#").navigation__nav--link Home
                        li.navigation__nav--item 
                            a(href="#").navigation__nav--link Our projects
                        li.navigation__nav--item 
                            a(href="#").navigation__nav--link About Us
                .navigation__converce
                    h5 Start a conversation
                    p
                        a(href="mailto:sales@gamega.org") sales@gamega.org
                .navigation__socials
                    h5.navigation__socials--title Social
                    ul.navigation__socials--menu
                        li.navigation__socials--items 
                            a(href="#").navigation__socials--link Facebook
                        li.navigation__socials--items 
                            a(href="#").navigation__socials--link Twitter
                        li.navigation__socials--items 
                            a(href="#").navigation__socials--link instagram

