- var menuItems = [{title: 'Home', link: '/'}, {title: 'Our projects', link: '/projects.html'}, {title: 'About Us', link: '/contact.html'}];

nav.navbar(role="navigation" aria-label="main navigation")
    a.navbar-item(href="/")
        img(src="images/logo_head.svg")
    #navbarBasicExample.navbar-menu
        .navbar-start
            .menu
                .menu__icon
                    span
                    span
                    span
                    span
                .menu__links 
                    each val in menuItems
                        a.navbar-item.menu__links-item(href=val.link)= val.title
                    .navbar-lang.menu__links-item 
                        a(href="#") Ru
                        span /
                        a(href="#") En
                    a.menu__links-item.contactUS(href="#") Contact US

            
            