.content{
    max-width: 1160px;
    margin-bottom: 152px;
    h1{
        margin-top: 0;
        line-height: 150%;
    }	
}
.slider-wrap{
    position: relative;
    overflow: hidden;
    .slider{
        .slick-track{
            height: 750px;
        }
        .slider__slide--momentum{
            background: url(../images/slider/slider_momentum.png) no-repeat  $green-bg right;
            width: 100%;
        }
        .slider__slide--biller{
            background: url(../images/slider/slider_biller.png) no-repeat  $blue-bg right;
            width: 100%;
        }
        .slider__slide--cnvs{
            background: url(../images/slider/slider_cnvs.png) no-repeat  $whitesmoke-bg right;
            width: 100%;
        }
        .slider__slide--galactica{
            background: url(../images/slider/slider_galactica.png) no-repeat  $roualblue-bg right;
            width: 100%;
        }
        .slick-dots{
            bottom: 62px;
            margin: 0 auto;
            text-align: left;
            max-width: 1660px;
            z-index: 1000;
            left: calc(50% + 30px);
            transform: translateX(-50%);
        }
        .slick-dots li{  
            margin: 0 8px 0 0;
            button{
                background-color: #fff;
                opacity: 0.5;
                margin-right: 8px;
                width: 24px;
                height: 1px;
                padding: 1px;
            }       
            button:before {
                font-size: 6px;
                position: absolute;
                top: 0;
                left: 0;        
                content: '';
                text-align: center;
                width: 10px;
                height: 2px;
            }
            &.slick-active{
                button{
                    opacity: 1;
                }     
            }
        }
        
        .nextArrow {
            font-size: 84px;
            z-index: 1000;
            bottom: 52px;
            position: absolute;
            right: 52px;
            border: 1px solid #fff;
            padding: 17px;
            cursor: pointer;
        } 
    }
    .slider-inter{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        .slider__block{
            padding: 128px 0;
            max-width: 517px;
            height: 753px;
            .slider__content{
                background-color: #fff;
                padding: 72px;
                img{
                    margin-bottom: 16px;
                }
                h5{
                    text-transform: uppercase;
                    margin-bottom: 16px;
                }
                p{
                    margin-bottom: 59px;
                    max-width: 373px;
                    line-height: 150%;
                    font-size: 25px;
                }
                a{
                    text-decoration: none;
                    .button {
                        width : 50px;
                        height : 48px;
                        overflow: hidden;
                        text-align : center;
                        transition : .2s;
                        cursor : pointer;
                        .btnTwo {
                            position : relative;
                            width : 200px;
                            height : 100px;
                            margin-top: -92px;
                            background :$color-text;
                            left : -250px;
                            transition : .3s;
                            color:#fff;
                            text-transform: uppercase;
                            .btnText2 {
                                margin-right: -100px;
                                color: #FFF;
                                font-size: 12px;
                                font-weight: 600;
                            }
                        }
                        .btnText {
                            color: #000;
                            transition: .3s;
                            border: 1px solid #000;
                            width: 48px;
                            height: 48px;
                            background: url(../images/slider/arrow.svg) no-repeat center;
                        }
                        &:hover{
                            width:192px;
                            background-color:$color-text;
                            .btnTwo{
                                left: -105px;
                            }
                            .btnText{ 
                            margin-left: 160px;
                            background: url(../images/slider/white_arrow.svg) no-repeat 0;
                            border: none;
                            }
                        }
                    
                    }
                }
        }
    }
        
    }
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.services{
    h5{
        display: block;
        text-transform: uppercase;
        padding:220px 0 83px 0;
    }
    .services__mobile-app--wrapper,
    .services__web-app--wrapper,
    .services__ux-design--wrapper
    {
        max-width: 496px;        
    }
    .services__mobile-app--wrapper,
    .services__web-app--wrapper
    {
        margin-right: 64px;      
    }
    .services__wrap img{
        padding-bottom: 24px;
    }
    .services__service {
        margin-right: 64px;
    } 
    .services__service:last-child {
        margin-right:0;
    }  
    .services__text{
        font-size: 24px;
        line-height: 150%;
        margin-top: 16px;
    }
    
}

.team{
    display: flex;
    h5{
        padding: 281px 0 64px 0;
    }
    .team__list{
        display: block;
        margin: 0 -16px;
        .team__list--item {
            float: left;
            width: calc(100% / 6);
            padding: 0 16px;
            margin-bottom: 40px;
            &:last-child{
                .list__wrap{
                    img{
                        background-color:$bacground-block;
                        padding: 50%;
                    }
                }
            }
            .list__wrap{
                display: flex;
                flex-direction: column;
                img{
                    filter: grayscale(100%);
                    transition: all .7s;
                    width: 100%;
                    max-width: 100%;
                    margin-bottom: 16px; 
                    background: url(../../images/personalities/plus.svg) no-repeat center center;
                    &:hover {
                        filter: none;
                        background: url(../../images/personalities/plus_white.svg) no-repeat center center
                        $hover-img;
                    }
                }
                .news{
                    font-family: 'Inter', sans-serif; 
                    font-weight: bold;
                    margin-bottom: 8px;
                }
                p{
                    font-family: 'Inter', sans-serif; 
                    opacity: .64;
                } 
                
            } 
        }
    }
}

.principles{
    margin-bottom: 220px;
    h5{
        padding:128px 0 64px 0;
        text-transform: uppercase;
    }
}

.principles__item--wrapper{
    display: flex;
    justify-content: space-between;
    .principles__item{
        margin-right: 64px;
        .principles__item--head{
            margin-bottom: 16px;
        }
        .principles__item--text{
            font-size: 25px;
            line-height: 150%;
        }
    }
    .principles__item:last-child{
        margin-right: 0;
    }
}


.principles__item--wrapper{
    display: inline-flex;
    .principles__item{
        max-width: 496px;
        margin-right: 64px;
        .principles__item--head{
            margin-bottom: 16px;
        }
    }
}

.contacts{
    background-color: $bacground-block;
    h5{
        padding: 128px 0 64px 0;
    }
    .contacts__wrapper{
            display: inline-flex;
            justify-content: space-between;
            padding-bottom: 128px;
        }
        .contacts__content{
            width: 50%;
            h4{
                font-weight: 500;
                font-size: 42px;
                margin-bottom: 32px;
            }
            
            .contacts__content--text{
                font-size: 25px;
                line-height: 150%;
                margin-right: 64px;
            }
    }
    
}
.contacts__form{
    width: 50%;
    display: flex;
    flex-direction: column;
    .form__name{
        display: flex;
        input[name="username"]{
            margin-right: 32px;
        }
    }
    textarea{
        width: 100%;
        border: none;
        box-sizing: border-box;
        padding: 16px;
        resize: none;
        margin-bottom: 32px;
    }
    input{
        width: 100%;
    }
    .form__captcha{ 
        form{
            display: flex;
            justify-content: space-between;
            label{
                display: none;
            }
        }
        button{
            padding: 0 72px;
            background-color: $green-button;
            color: #fff;
            border: none;
            text-transform: uppercase;
            height: 50px;
            cursor: pointer;
        }
        input[name="captcha"]{
            width: 48%;
        }
    }
}


.team__list,
.services__wrap,
.principles{
    display: flex;
    justify-content:space-between;
    // flex-flow: wrap;
}
.team__list--item { 
    p{ 
        font-family: 'Inter', sans-serif; 
    }    
}

$retina1024: 1024px;
$retina900: 900px;
$retina768: 768px;

    
@media (max-width: $retina1024){
    .team {
        .team__list {
            .team__list--item {
            width: calc(100% / 5);
            padding: 0 14px;
            }
        }
    }
}

@media (max-width: $retina900){
    .team {
        .team__list {
            .team__list--item {
            width: calc(100% / 4);
            }
        }
    }
}

@media (max-width: $retina768){
    .team {
        .team__list {
            .team__list--item {
            width: calc(100% / 3);
            }
        }
    }
}

::-webkit-input-placeholder {color:$footer-nav;}
::-moz-placeholder          {color:$footer-nav;}
:-ms-input-placeholder      {color:$footer-nav;}