$color-text:        #1B1B1C;
$bacground-block:   #F1F1F1;
$second-color:      #444444;
$green-bg:          #6CA72B;
$green-button:      #22C993;
$blue-bg:            #4464EC;
$whitesmoke-bg:        #F5F9FC;
$roualblue-bg:          #347CFF;
$footer-nav:         #bbbbbb;